/*********************************************
 *  Main Scss
 *********************************************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/*********************************************
 *  Variables
 *********************************************/
/*********************************************
 *  EOF
 *********************************************/
/*********************************************
 *  Mixins
 *********************************************/
/*********************************************
 *  EOF
 *********************************************/
/*********************************************
 *  Utility Styles
 *********************************************/
.hidden {
  display: none !important; }

.link-option {
  background-color: #fff;
  color: #22223b !important;
  border-radius: 8px; }

/*********************************************
 *  EOF
 *********************************************/
/*********************************************
 *  Base Styling ( With Global Reset )
 *********************************************/
* {
  padding: 0;
  margin: 0; }

*,
*::after,
*::before {
  box-sizing: border-box; }

html {
  box-sizing: inherit;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Poppins", sans-serif;
  background-color: #4a4e69;
  min-height: 100vh;
  position: relative; }

/*********************************************
 *  EOF
 *********************************************/
/*********************************************
 *  Navigation
 *********************************************/
.header {
  max-width: 130rem;
  margin: 0 auto;
  padding: 1.2rem 0.4rem 0.6rem 0.4rem; }
  @media (max-width: 37.5em) {
    .header {
      padding: 1rem; } }

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header-img-container__img {
  width: 20%; }

.nav-main__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2rem; }

.nav-main__li--template {
  position: relative; }

.nav-main__link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff; }

.template-option-container {
  position: absolute;
  top: 120%;
  left: -20%;
  width: 140%; }
  .template-option-container__options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.6rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #22223b; }
  .template-option-container__text {
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.2px;
    cursor: pointer;
    padding: 0.1rem 1rem; }

/*********************************************
 *  EOF
 *********************************************/
/*********************************************
 *  Main Layout
 *********************************************/
.section-main {
  max-width: 130rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px; }

.main-container {
  display: flex; }

/*********************************************
 *  EOF
 *********************************************/
/*********************************************
 *  SideBar ( Right Container )
 *********************************************/
.right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
  flex: 0 0 10%;
  background-color: #22223b; }

.selected-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem; }

.selected__tool {
  padding: 0.8rem;
  font-size: 24px;
  color: #fff;
  cursor: pointer; }
  .selected__tool--active {
    background-color: #6fd08c;
    border-radius: 20%; }

.selected__colors {
  position: relative;
  margin: 1rem 0 3.2rem -2rem; }

.selected__color {
  width: 4.2rem;
  height: 4.2rem;
  margin: 0.2rem;
  border-radius: 4px;
  cursor: pointer; }
  .selected__color--primary {
    background-color: #000;
    z-index: 5;
    position: relative;
    top: 0%;
    left: 0%; }
  .selected__color--secondary {
    background-color: #fff;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 1; }

.selected-color-tool {
  transform: rotate(135deg);
  position: absolute;
  top: 20%;
  right: -90%;
  font-size: 32px; }
  .selected-color-tool__tool {
    color: #fff;
    cursor: pointer; }

.color-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.two-color-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.4rem;
  column-gap: 0.4rem; }
  @media (max-width: 37.5em) {
    .two-color-container {
      padding: 0 0.6rem; } }
  .two-color-container__div {
    width: 4.2rem;
    height: 4.2rem;
    margin: 0.2rem;
    border-radius: 4px;
    cursor: pointer; }
    @media (max-width: 37.5em) {
      .two-color-container__div {
        width: 3.2rem;
        height: 3.2rem; } }
    .two-color-container__div--1 {
      background-color: #000; }
    .two-color-container__div--2 {
      background-color: #ff0000; }
    .two-color-container__div--3 {
      background-color: #ffff00; }
    .two-color-container__div--4 {
      background-color: #00ff00; }
    .two-color-container__div--5 {
      background-color: #0000ff; }
    .two-color-container__div--6 {
      background-color: #a020f0; }
    .two-color-container__div--7 {
      background-color: #ffa500; }
    .two-color-container__div--8 {
      background-color: #964b00; }
    .two-color-container__div--9 {
      background-color: #fff; }
    .two-color-container__div--10 {
      background-color: #00ffff; }

/*********************************************
 *  EOF
 *********************************************/
/*********************************************
 *  Tool Bar ( Left Container )
 *********************************************/
.left-container {
  background-color: #22223b;
  flex: 0 0 4%; }

.tool-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem 0.8rem 0 0.8rem; }
  .tool-container__tool {
    padding: 0.8rem;
    font-size: 24px;
    color: #fff;
    cursor: pointer; }
    .tool-container__tool--active {
      background-color: rgba(44, 234, 164, 0.8);
      border-radius: 20%; }

/*********************************************
 *  EOF
 *********************************************/
/*********************************************
 *  Template ( Middle Container )
 *********************************************/
.middle-container {
  flex: 1;
  min-height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.template-container__8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border: 0.01px solid #000; }

.template-container__16 {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  border: 0.01px solid #000; }

.pixel {
  background-color: transparent;
  margin: 0rem;
  border: 0.01px solid #000; }
  .pixel__8 {
    width: 5.4rem;
    height: 5.4rem; }
    @media (max-width: 37.5em) {
      .pixel__8 {
        width: 4.4rem;
        height: 4.4rem; } }
  .pixel__16 {
    width: 3rem;
    height: 3rem; }
    @media (max-width: 37.5em) {
      .pixel__16 {
        width: 2rem;
        height: 2rem; } }

/*********************************************
 *  EOF
 *********************************************/
/*********************************************
 *  Detail Section ( How to use Pix Create? )
 *********************************************/
.section-detail {
  max-width: 120rem;
  margin: 0 auto; }

.detail-container,
.detail-container__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.detail-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); }
  .detail-container__container {
    width: 80%;
    height: 80%;
    background-color: #22223b;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative; }
    @media (max-width: 37.5em) {
      .detail-container__container {
        height: 60%;
        padding: 0 4rem; } }
    .detail-container__container--close {
      position: absolute;
      top: 2%;
      right: 2%;
      color: #fff;
      font-size: 44px;
      cursor: pointer;
      transition: all 0.2s; }
      @media (max-width: 37.5em) {
        .detail-container__container--close {
          font-size: 30px; } }
      .detail-container__container--close:hover {
        color: #ffffd0; }
  .detail-container__h1 {
    color: #fff;
    font-size: 3.4rem;
    margin-bottom: 3.8rem;
    text-decoration: underline; }
    @media (max-width: 37.5em) {
      .detail-container__h1 {
        font-size: 2rem; } }

.usage-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.usage-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 50%; }
  .usage-img-container__img {
    width: 84%; }
    @media (max-width: 37.5em) {
      .usage-img-container__img {
        width: 74%; } }

.usage-text-container {
  flex: 1; }
  .usage-text-container__div {
    display: flex;
    align-items: center;
    gap: 1.2rem; }
    .usage-text-container__div:not(:last-child) {
      margin-bottom: 2rem; }
      @media (max-width: 37.5em) {
        .usage-text-container__div:not(:last-child) {
          margin-bottom: 1rem; } }
  .usage-text-container__tool {
    color: #fff;
    font-size: 36px; }
    @media (max-width: 37.5em) {
      .usage-text-container__tool {
        font-size: 24px; } }
  .usage-text-container__p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500; }
    @media (max-width: 37.5em) {
      .usage-text-container__p {
        font-size: 1rem; } }

/*********************************************
 *  EOF
 *********************************************/
/*********************************************
 *  Support Section ( How to use Pix Create? )
 *********************************************/
.section-support {
  max-width: 120rem;
  margin: 0 auto; }

.support-container,
.support-container__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.support-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); }
  .support-container__container {
    width: 80%;
    height: 80%;
    background-color: #22223b;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative; }
    @media (max-width: 37.5em) {
      .support-container__container {
        height: 60%;
        padding: 0 4rem; } }
    .support-container__container--close {
      position: absolute;
      top: 2%;
      right: 2%;
      color: #fff;
      font-size: 44px;
      cursor: pointer;
      transition: all 0.2s; }
      @media (max-width: 37.5em) {
        .support-container__container--close {
          font-size: 30px; } }
      .support-container__container--close:hover {
        color: #ffffd0; }
  .support-container__h1 {
    color: #fff;
    font-size: 3.4rem;
    margin-bottom: 3.8rem;
    text-decoration: underline; }
    @media (max-width: 37.5em) {
      .support-container__h1 {
        font-size: 2rem; } }

.usage-container {
  display: flex;
  align-items: center;
  justify-content: center; }
  .usage-container__text {
    color: #fff;
    font-size: 2.6rem;
    font-weight: 500; }
    @media (max-width: 37.5em) {
      .usage-container__text {
        font-size: 1rem; } }
  .usage-container__link {
    color: #fff; }

/*********************************************
 *  EOF
 *********************************************/
/*********************************************
 *  EOF
 *********************************************/
