/*********************************************
 *  Main Layout
 *********************************************/

.section-main {
  max-width: 130rem;
  margin: 0 auto;
  background-color: $color-white;
  border-radius: 8px;
}

.main-container {
  display: flex;

  @include respond(phone) {
    flex-direction: column;
  }
}

/*********************************************
 *  EOF
 *********************************************/
