/*********************************************
 *  Tool Bar ( Left Container )
 *********************************************/

.left-container {
  background-color: $color-primary;
  flex: 0 0 4%;
}

.tool-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;

  padding: 4rem 0.8rem 0 0.8rem;

  &__tool {
    padding: 0.8rem;
    font-size: 24px;
    color: $color-white;
    cursor: pointer;

    &--active {
      background-color: $icon-background-color;
      border-radius: 20%;
    }
  }
}

/*********************************************
 *  EOF
 *********************************************/
