/*********************************************
 *  Base Styling ( With Global Reset )
 *********************************************/

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $color-secondary;
  min-height: 100vh;
  position: relative;
  // overflow: hidden;
}

.text-select-disable {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*********************************************
 *  EOF
 *********************************************/
