/*********************************************
 *  Mixins
 *********************************************/

@mixin respond($breakPoint) {
  @if $breakPoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakPoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakPoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }
}

/*********************************************
 *  EOF
 *********************************************/
