/*********************************************
 *  Utility Styles
 *********************************************/

.hidden {
  display: none !important;
}

.link-option {
  background-color: $color-white;
  color: $color-primary !important;
  border-radius: 8px;
}

/*********************************************
 *  EOF
 *********************************************/
